html,
body {
  min-width: 1200px;
  min-height: 2762px;
  margin: 0;
  padding: 0;
}

body {
  background: #f2f2f2 url("../sedona-index-1200.jpg") no-repeat 50% 3px;
  background-size: 1280px auto;
}

ul, p {
  margin: 0;
  padding: 0;
}

.container {
  width:  1200px;
  min-height: 2762px;
  margin: 0 auto;
  border: 1px solid red;
}

/*.main-header {
  min-height: 56px;
}*/

nav.main-navigation {
  border: 1px solid red;
  float: center;
}

nav .nav-left {
  float: left;
  list-style-type: none;
}

nav .nav-right {
  float: right;
  list-style-type: none;
}

nav li a {
  padding: 20px 0 0 0;
  text-align: center;
  width: 239px;
  border: 1px solid red;
  display: block;
  min-height: 36px;
}

.nav-logo {
  margin: 0 auto;
  width: 140px;
  height: 70px;
  border: 1px solid red;
}

.index-logo {
  width: auto;
  height: 725px;
  border: 1px solid red;
  margin: -15px 0 0 0;
}



